{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where .Site.RegularPages "Section" "blog") }}
    <div class="article">
      {{ if ne .Date .Lastmod }}
      <span class="date">Updated {{.Lastmod.Format "January 2, 2006"}}</span>
      {{ else }}
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      {{ end }}
      <a href="{{.Permalink}}">{{.Title}}</a>
      <p class="description">{{.Description}}</p>
    </div>
    {{ end }}
  </section>

  <aside>
    <dl class="external-links">
      <dt>rss</dt>
      <dd>
        <a class="rss" href="/blog/index.xml" title="RSS Feed">rss</a>
      </dd>
      <dt>email</dt>
      <dd>
        <a href="mailto:blog@jonnobrow.co.uk" title="Jonathan's Email"
          >blog@jonnobrow.co.uk</a
        >
      </dd>
      <dt>github</dt>
      <dd>
        <a href="https://github.com/jonnobrow" title="Jonathan's Github"
          >github/jonnobrow</a
        >
      </dd>
      <dt>gitlab</dt>
      <dd>
        <a href="https://gitlab.com/jonnobrow" title="Jonathan's Gitlab"
          >gitlab/jonnobrow</a
        >
      </dd>
    </dl>

    Hi, I'm Jonathan 😃.
  </aside>
</main>
